<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.it3176_smartnote"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>"
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:screenOrientation="portrait"
            android:name="com.example.it3176_smartnote.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.example.it3176_smartnote.CreateActivity"
            android:label="@string/title_activity_create" >
        </activity>
        <activity 
            android:screenOrientation="portrait"
            android:name="com.example.it3176_smartnote.NoteDetail"
            android:label="@string/title_activity_note_detail"
            android:parentActivityName="com.example.it3176_smartnote.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.it3176_smartnote.MainActivity" />
        </activity>
        <activity 
            android:screenOrientation="portrait"
            android:name="com.example.it3176_smartnote.ArchiveActivity"
            android:label="@string/title_activity_archive"
            android:parentActivityName="com.example.it3176_smartnote.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.it3176_smartnote.MainActivity" />
        </activity>
        <activity 
            android:screenOrientation="portrait"
            android:name="com.example.it3176_smartnote.ArchiveDetail"
            android:label="@string/title_activity_archive"
            android:parentActivityName="com.example.it3176_smartnote.ArchiveActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.it3176_smartnote.ArchiveActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.example.it3176_smartnote.SearchNameActivity"
            android:label="@string/title_activity_search_name" >
        </activity>
    </application>

</manifest>
